
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins' , sans-serif;
}

:root {
  --bg-color:#080808;
  --second-bg-color:#131313;
  --text-color:white;
  --main-color:#00ffee;
}




.container {
  display: flex;
  width: 100%;
  background: linear-gradient(to right,#000000,#00f7ff );
  /* width: 100%; */
  /* padding: 40px; */
  /* border-radius: 12px; */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  /* max-width: 1200px; */
  /* margin-bottom: 100%; */
  /* height: 150vh; */
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: 800;
  margin-top: -10%;
}

.user {
  /* flex-direction: column; */
   background: linear-gradient(to right,#00f7ff,#f300b6 );
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
   width: calc(33% - 20px);
  margin-bottom: 20px;
  position: relative;  
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 1%;
}

.user strong {
  /* font-size: 1.8em; */
  color: #ffffff;
}

label {
  display: block;
  font-weight:800;
  margin: 10px 0 5px;
  color: #000000;
  font-size: 180%;
}

input[type="date"] {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 160%;
  margin-bottom: 10px;
}
input[type="text"] {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 2em;
  margin-bottom: 10px;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 2em;
}

button:hover {
  background-color: #0056b3;
}

.alert {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  font-size: 160%;
}

.user-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.user-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user-form {
  flex: 30%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right,#000000,#00f7ff );
  padding: 5%;
  /* flex-direction: column; */
}


.users-info {
  display:block;
  flex: 70%;
  margin: 1%;
  text-align: center;
}

:root {
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#00ffee;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
display: flex;
flex-direction: column;
align-items: baseline;
text-align: left;
justify-content: center;
margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
    
}
.home-content h3{
        margin-bottom: 2rem;
        margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow:  0  0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
     0 0 50px var(--main-color),
     0 0 100px var(--main-color);
}
.home-content p{
    font-size:1.5rem ;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

/* estilos imagen */

.imagen { 
  margin-top: 10%;
  margin-left: 0%;
  width: 300px;
  height: 300px;
}


.vence-el {
  font-size: 170%;
  font-weight: 800;
}

.nombre{
  font-size: 200%;
}

.agregar{
  font-size: 200%;
  padding: 5%;
}

.nuevo{
  font-size: 200%;
  font-weight:800;
}

.logov2{
  text-align: center;
}

.logov2 span{
  text-shadow:  0 0 12px var(--main-color);
  
}

.header{
  width: 100%;
  padding: 1%;
  background: rgb(0, 0, 0) ;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo{
  
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover{
  transform: scale(1.1);
}
.logo span{
  text-shadow:  0 0 12px var(--main-color);
}
.navbar a{
font-size: 1.8rem;
color: var(--text-color);
margin-left: 2rem;
font-weight:500;
transition: 0.3s ease;
border-bottom: 3px  solid transparent;
}
.navbar  a:hover,
.navbar a.active{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content{
display: flex;
flex-direction: column;
/* align-items: baseline; */
justify-content: center;
align-items: center;
margin-top: -25%;
margin-left: 15%;

/* margin-right: -50%; */
}
span{
  color: var(--main-color);
}
.logo span{
  color: var(--main-color);
}